
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dislay-flex{
    display: flex;
}
.nav-link{
    text-decoration: none;
    margin-right: 30px;

}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.dark2{
    color: rgba(66, 66, 66, 1);
}
.bgcolor{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-contant{
    margin: 0 auto;
    text-align: center;
    max-width: 862px;
}
.button-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    margin-bottom: 20px;
    font-size: 20px;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.banner-description{
    font-weight: 200px;
    font-size: 1rem;
    color: #727272;
}
.banner-img{
    width: 100%;
  
}
.brand{
    font-weight: bold;
    font-size: 2.5rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams{
    margin-top: 68px;
    align-items: center;
    
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.ourfeatures{
    max-width: 537px;
    margin-left: 60px;
}
#quick{
    font-weight: 500;
    font-size: 2.8rem;
}
.btn-color{
    color: rgba(255, 144, 14, 1);
}
.ourfeatures-desccription{
    font-size: 1rem;
}
.somefactstitle{
    font-weight: bold;
    font-size: 2.8rem;
}
.somefacts-description{
    font-size: 1rem;
    max-width: 542px;
}
.facts-container{
    display: flex;
    gap: 140px;
 
}
.fact{
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    text-align: center;
    
}
.sponsorinfo{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
.features{
    display: flex;
    gap: 20px;
    margin-top: 153px;
}
.card{
    max-width: 586px;
    padding: 30px 42px;
   
    border-radius: 8px;
}
.features-items-title{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
}
#button{
    margin-top: -100px;
    margin-left: -100px;
}
.features-img img{
    width: 100%;
}
@media screen and (max-width:576px){
    .navbar, .nav-links,.teams,.facts-container{
        flex-direction: column;
        
    }
    .teams-img-container{
        grid-template-columns:1fr;
    }
   .facts-container{
    justify-items: center;
   }
   .fact{
    justify-items: center;
   }
   .sponsor-companies{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap: 30px;
    
   }
   .features{
    flex-direction: column;
   }
   #button{
    margin-left: 100px;
    margin-top: 100px;
   }
   
   
    
}
